@use "./../../styles/_typography.scss" as *;

.card {
  background: var(--white);
  border-radius: 20px;
  width: 320px;
  gap: 24px;
  display: grid;
  padding: 16px 16px 40px 16px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
}

.image-card {
  background: var(--blue-600);
  aspect-ratio: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.qr-code-image {
  width: 160px;
  aspect-ratio: 1;
  z-index: 1;
}

.ellipse {
  position: absolute;
  aspect-ratio: 1;
  background: var(--blue-500);
  border-radius: 50%;
}

.ellipse--top-left {
  left: -131.5px;
  top: -164.5px;
  width: 328px;
}

.ellipse--bottom-right {
  right: -113.5px;
  bottom: -186.5px;
  width: 270px;
}

.description-container {
  gap: 16px;
  display: grid;
  padding: 0 16px;
}

.title {
  text-align: center;
  @include text-preset($text-preset-1);
}

.description {
  color: var(--slate-500);
  text-align: center;
  @include text-preset($text-preset-1);

  @media (min-width: 1440px) {
    @include text-preset($text-preset-2);
  }
}
