@use "sass:map";
@use "./_variables.scss";

$text-preset-1: (
  font-weight: var(--font-weight-bold),
  font-size: 22px,
  line-height: 1.2,
  letter-spacing: 0,
);

$text-preset-2: (
  font-weight: var(--font-weight-regular),
  font-size: 15px,
  line-height: 1.4,
  letter-spacing: 0.2px,
);

@mixin text-preset($preset) {
  font-family: var(--font-family);
  font-weight: map.get($preset, font-weight);
  font-size: map.get($preset, font-size);
  line-height: map.get($preset, line-height);
  letter-spacing: map.get($preset, letter-spacing);
}
