@import "./_variables.css";

.text-preset-1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
