:root {
  /* Colors */
  --white: #ffffff;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --blue-500: #3685ff;
  --blue-600: #2c7dfa;

  /* Typography */
  --font-family: "Outfit", sans-serif;
  --font-size-paragraph: 15px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
