@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --blue-500: hsl(220, 100%, 60%);
  --blue-600: hsl(217, 96%, 58%);

  /* Typography */
  --font-family: "Outfit", sans-serif;
  --font-size-paragraph: 15px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
